html{
    margin: 0;
}

body{
    margin: 0;
    background-color: #e63947ee;
}

h1{
    text-align: center;
    color: #ffb703;
    font-family: "Playwrite US Modern", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
}

.container{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 322px;
    border: 1px solid black;
    height: 322px; 
    box-sizing: border-box;
    background-color: white;
}

.div-item{
    margin: 0;
    height: 20px;
    width: 20px;
    display: flex;
    flex: 0 0 20px;
    border: 1px solid rgba(128, 128, 128, 0.726);
    box-sizing: border-box;
}

.div-hover{
    background-color: black;
}

.div-item:hover{
    background-color: rgb(53, 49, 49);
}

#btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 14em;
}

#changeGrid,#delete{
    font-family: "Playwrite US Modern", cursive;
    width: 7em;
    height: 7em;
    border-radius: 100%;
    margin-top: 3em;
    margin-bottom: 3em; 
    
}

.erase{
    background-color: white;
}

.center{
    display: flex;
    justify-content: center;
}